.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite
*.sqlite3
.env
.venv/
venv/
env/
build/
dist/
*.egg-info/
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep
.DS_Store/
.DS_Store
*/.DS_Store
Thumbs.db
